<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="sourcepath" value="D:\Develop\Projects\DataDepositer\DataDepositer\bin\Debug\"/>
    <add key="destpath" value="D:\Test\P2PDD\"/>
    <add key="count" value="4"/>
  </appSettings>

</configuration>